a#gmail, a#gmail:hover {
  background: linear-gradient(to right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

a#instagram, a#instagram:hover {
  background: linear-gradient(to right, blue, purple, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.contact {
  font-size: 90px;
  margin-left: 200px;
}
