@media screen and (max-width: 600px) {
  .top-line {
    height: 55px;
  }

  .date {
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 0;
    text-align: center;
    height: 80px;
  }

  .title {
    font-size: 50px;
    right: 20px;
    top: 100px;
    width: 200px;
  }

  .subtitle {
    font-size: 35px;
    right: 20px;
    top: 180px;
  }

  .header {
    height: 170px;
  }

  .top-line-button {
    width: 60px;
  }

  .bdays {
    position: absolute;
    top: 300px;
    height: 423px;
    left: 20px;
    width: 200px;
    background-color: var(--bday-bg);
    border: var(--grey) 3px solid;
    border-radius: 30px;
  }

  .contact {
    margin-left: 30px;
    font-size: 60px;
  }

  .days li {
    font-size: 15px;
    width: 11.7%;
    height: 40px;
  }

  .weekdays li {
    font-size: 20px;
    width: 10.3%;
  }

  #toggler {
    position:fixed;
    width:70px;
    height:60px;
    bottom:55px;
    right:10px;
    border-radius: 50%;
    border: var(--white) 1px solid;
  }

  .TTLesson {
    font-size: 12px;
  }
}
